html {
  --nav-bg-color: #24262b;
  --main-bg-color: #343741;
  --light-theme-bg-color: #dddddd;
  --main-txt-color: #b6f12c;
  
  --slider-dim: 12px;
  --slider-color: #1a1818;
  --slider-translate: translateX(75%);

  background-color: var(--main-bg-color); 
  color: var(--main-txt-color);
  height: 100%;
  width: 100%;
}

.light-theme-body {
  background-color : #dddddd;
  color: #6d9b00;
}
#root {
  height: 100%;
}
#App {
  height: 100%;
}


h1 {
  text-align: center;
}

a:hover {
  color: white;
}
a:active {
  color : #b8b8b8;
}

