html {
  --nav-bg-color: #24262b;
  --main-bg-color: #343741;
  --light-theme-bg-color: #dddddd;
  --main-txt-color: #b6f12c;
  
  --slider-dim: 12px;
  --slider-color: #1a1818;
  --slider-translate: translateX(75%);

  background-color: var(--main-bg-color); 
  color: var(--main-txt-color);
}

#App {  
  height: 100vh;
  width: 100vw;
}
  
